<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>APP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="APP">
    <meta name="keywords" content="APP">
    <meta name="author" content="APP">
    <meta name="copyright" content="APP">
    <meta name="apple-mobile-web-app-title" content="APP">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" href="http://www.swiper.com.cn/dist/css/swiper.min.css"/>
    <style type="text/css">

        /* 必需 */
        .expand-transition {
            transition: all .3s ease;
            overflow: hidden;
            }
        /* .expand-enter 定义进入的开始状态 */
        /* .expand-leave 定义离开的结束状态 */
        .expand-enter, .expand-leave {
            height: 0;
            padding: 0 10px;
            opacity: 0;
            }
        /*swiper
        *****************************************************************************/

        html, body {
            position: relative;
            height: 100%;
            }
        body {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            }
        .swiper-container {
            width: 100%;
            height: 5px;
            }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            }
        .swiper-slide img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            position: absolute;
            left: 50%;
            top: 50%;
            }

    </style>
</head>
<body>
<div id="app" class="g-doc">
    <router-view></router-view>
    <g-nav></g-nav>
</div>
<script src="js/libs/vue.js"></script>
<script src="js/libs/vue-router.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/libs/swiper-3.2.7.min.js"></script>
<script type="x/template" id="tplNav">
    <nav>
        <a v-link="{path: '/home'}">Home</a>
        <a v-link="{path: '/list', query: {tab: 'rank'}}">Rank</a>
    </nav>
</script>
<script type="x/template" id="tplBanner">
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="img in imgs">
                <img :data-src="img.src" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</script>
<script type="x/template" id="tplSwiper">
    <div class="swiper-container newApps">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="img in newApps">
                <img :data-src="img.src" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <div class="swiper-container newGames">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="img in newGames">
                <img :data-src="img.src" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</script>
<script type="text/javascript">

    /**************************************************
     * VIEW
     *************************************************/
    var Home = Vue.extend({
        data: function () {
            return {
                banners: []
            }
        },
        route: {
            activate: function (transition) {
                transition.next();

                $.getJSON('_mock/temp.json', function (data) {
                    console.log(data);
                });
                // banner
                var banner = new Swiper('.banner', {
//                    nextButton: '.swiper-button-next',
//                    prevButton: '.swiper-button-prev',
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    // Disable preloading of all images
                    preloadImages: false,
                    // Enable lazy loading
                    lazyLoading: true,
                    spaceBetween: 0,
                    autoplay: 2500,
                    autoplayDisableOnInteraction: false,
                    loop: true
                });

                // 1
                var swiper1 = new Swiper('.newApps', {
                    pagination: '.swiper-pagination',
                    slidesPerView: 3,
                    paginationClickable: false,
                    preloadImages: false,
                    lazyLoading: true,
                    spaceBetween: 30
                });
                var swiper2 = new Swiper('.newGames', {
                    pagination: '.swiper-pagination',
                    slidesPerView: 3,
                    paginationClickable: false,
                    preloadImages: false,
                    lazyLoading: true,
                    spaceBetween: 30
                });

            },
            deactivate: function (transition) {
                transition.next();
            }
        },
        template: '<banner></banner>' +
        '<swiper></swiper>'
    });
    var List = Vue.extend({
        template: '<p>list page</p>'
    });


    /**************************************************
     * COMPONENT
     *************************************************/
    Vue.component('g-nav', {
        template: '#tplNav'
    });

    Vue.component('banner', {
        data: function () {
            return {
                imgs: [
                    {
                        "title": "标题1",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature1.jpg"
                    },
                    {
                        "title": "标题2",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature2.jpg"
                    },
                    {
                        "title": "标题3",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature3.jpg"
                    }
                ]
            }
        },
        template: '#tplBanner'
    });

    Vue.component('swiper', {
        data: function () {
            return {
                newApps: [
                    {
                        "title": "标题1",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature1.jpg"
                    },
                    {
                        "title": "标题2",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature2.jpg"
                    },
                    {
                        "title": "标题3",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature3.jpg"
                    },
                    {
                        "title": "标题2",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature4.jpg"
                    },
                    {
                        "title": "标题3",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature5.jpg"
                    }
                ],
                newGames: [
                    {
                        "title": "标题1",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature1.jpg"
                    },
                    {
                        "title": "标题2",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature2.jpg"
                    },
                    {
                        "title": "标题3",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature3.jpg"
                    },
                    {
                        "title": "标题2",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature4.jpg"
                    },
                    {
                        "title": "标题3",
                        "url": "#",
                        "src": "http://www.swiper.com.cn/demo/img/largeNature5.jpg"
                    }
                ]
            }
        },
        template: '#tplSwiper'
    });

    /**************************************************
     * ROUTER
     *************************************************/
    var router = new VueRouter({
        linkActiveClass: 'active',
        transitionOnLoad: true
    });


    /**************************************************
     * ROUTER.js
     *************************************************/
    router.map({
        '/': {
            name: 'home',
            component: Home
        },
        '*': { // 404路由
            name: 'home',
            component: Home
        },
        '/list': {
            'name': 'list',
            component: List
        }
    });

    router.beforeEach(function (transition) {
        window.scrollTo(0, 0);
        transition.next();
    });

    var App = Vue.extend({});
    router.start(App, '#app');
</script>
</body>
</html>